body{
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background: linear-gradient(135deg, #000000, #0f172a, #1e3a8a);
font-family:Arial;
}

.wrap{
width:100%;
display:flex;
justify-content:center;
align-items:center;
}

.calc{
width:360px;
padding:20px;
border-radius:18px;
background:rgba(255,255,255,0.06);
backdrop-filter:blur(14px);
box-shadow:0 25px 70px rgba(0,0,0,0.5);
}

#screen{
width:100%;
height:70px;
border:none;
outline:none;
border-radius:12px;
margin-bottom:15px;
font-size:32px;
text-align:right;
padding:10px;
background:rgba(255,255,255,0.08);
color:#fff;
box-sizing:border-box;
}

.grid{
display:grid;
grid-template-columns:repeat(4,1fr);
grid-auto-rows:70px;
gap:10px;
}

button{
border:none;
border-radius:14px;
font-size:20px;
cursor:pointer;
background:rgba(255,255,255,0.12);
color:white;
transition:0.2s;
}

button:hover{
background:rgba(255,255,255,0.25);
transform:scale(1.05);
}

.zero{
grid-column:span 2;
}

.equal{
grid-column:4;
grid-row:4 / span 2;
background:#6366f1;
font-weight:bold;
}